<!DOCTYPE html>
<head>
  <meta http-equiv='Content-type' content='text/html; charset=utf-8'>
  <title>Whitebox.io</title>
  <link rel='stylesheet' href='css/style.css' type='text/css' media='screen' title='' charset='utf-8'>
  <meta content='complex software, development, programming, ruby, elixir, javascript, p2p, video, websites' name='keywords' />
  <meta content='Whitebox.io is a software company. Software development, consulting, reviewing' name='description' />
</head>
<body>
  <div id='page'>
    
    <div id='letters' class='letters'>
      <span class='light'>W</span>
      <span class='light'>h</span>
      <span class='light'>i</span>
      <span class='light'>t</span>
      <span class='light'>e</span>
      <span class='light'>b</span>
      <span class='light'>o</span>
      <span class='light'>x</span>
      <span class='light'>.</span>
      <span class='light'>i</span>
      <span class='light'>o</span>
      <div class='descr white_font'>
        Smart software.
      </div>
    </div>

    <div class='links-holder'>
      <div class='left-bottom-corner white_font'>
        <div class="corner"></div>
      </div>
      <ul class="links fadeable">
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#technologies">Technologies</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contacts">Contacts</a></li>
      </ul>
      <div class="clear_both"></div>
    </div>
    
    <div id="about" class="white_font content first">
      <h2>• About us</h2>
      <div class="content-box fadeable">
        <p class="first">
          We are a software company created by technological enthusiasts with wide software development and architecturing background.
        </p>
        <p>
          We best found ourselves in development complicated software solutions primarily based on client-server architecture but not only. We are strongly experienced in development of web applications, mobile solutions, asynchronous serverside solutions and highloaded services.
        </p>
      </div>
    </div>

    <div id="services" class="white_font content">
      <h2>• Services</h2>
      <div class="content-box fadeable">
        <ul>
          <li>Software architecture</li>
          <li>Software development</li>
          <li>Database design</li>
          <li>Web development</li>
        </ul>
        <ul>
          <li>Mobile development</li>
          <li>Consulting</li>
          <li>Coaching</li>
        </ul>
        <div class="clear_both"></div>
      </div>
    </div>

    <div id="technologies" class="white_font content">
      <h2>• Technologies</h2>
      <div class="content-box fadeable">
        <ul>
          <li>Ruby, Ruby on Rails</li>
          <li>Sinatra, Eventmachine</li>
          <li>Objective C, Cocoa touch</li>
          <li>Erlang</li>
        </ul>
        <ul>
          <li>HTML5, CSS3</li>
          <li>Java, Processing</li>
          <li>WebRTC</li>
          <li>Ember.js</li>
        </ul>
        <ul>
          <li>Javascript, SVG</li>
          <li>Meteor.js</li>
        </ul>
        <div class="clear_both"></div>
      </div>
    </div>

    <div id="projects" class="white_font content">
      <h2>• Projects</h2>
      <div class="content-box fadeable projects">
        <div class='date'>01.2013–04.2013</div>
        <div class='callme'>
          <p>
            <span>Call</span><span class='orange'>Me</span>
          </p>
          <p>
            p<span class='orange'>2</span>p video conferences system.
          </p>
          <p>
            Distributed video conferences system which could work even in closed private networks.
          </p>
          <p>
            Control server is based on Erlang. It's so lightweight and faultless than it might be run even on pocket ARM-based computers like Raspberry Pi.
          </p>
        </div>
      </div>
    </div>

    <div id="contacts" class="white_font content">
      <h2>• Contacts</h2>
      <div class="content-box fadeable">
        <a class='mail' href='mailto:info@whitebox.io'>✉ info@whitebox.io</a>
      </div>
    </div>

    <div id='footer' class='footer fadeable'>
      © Whitebox.io, 2013
      <div class='right-bottom-corner'>
        <div class="corner"></div>
      </div>
    </div>
    
    <script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter18948889 = new Ya.Metrika({id:18948889,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true});
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/18948889" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  </div>
  <script type="text/javascript" src="/js/app.js"></script>
</body>
